1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEOS 0x40004L
// VOS_NT
FILETYPE 0x1L
// VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904b0"
    {
      VALUE "CompanyName", "Unknown Author\000"
      VALUE "FileDescription", "HoverApp\000"
      VALUE "FileVersion", "0.1.0.0\000"
      VALUE "InternalName", "HoverApp\000"
      VALUE "LegalCopyright", "Copyright Unknown Author\000"
      VALUE "OriginalFilename", "HoverApp.exe\000"
      VALUE "ProductName", "HoverApp\000"
      VALUE "ProductVersion", "0.1.0.0\000"
    }
  }
  BLOCK "VarFileInfo"
  {
    // 0x0409 is US English, 1200 is Unicode
    VALUE "Translation", 0x0409,1200
  }
}

1 MANIFEST "castle-automatic-windows.manifest"
